body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Tilt Warp", sans-serif;
}

.Geral {
    background-image: url('IMAGENS/BACKGROUND.png');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */
    height: 100vh;
    /* 100% da altura da tela */
    width: 80%;
}

.Savrthedate {
    position: absolute;
    left: 20%;
    top: 30px;
    width: 100px;
    z-index: 1;
}

.Savrthedate img {
    max-width: 32vh;
    animation-duration: 3s;
}

/* relogio */

.Relogio {
    position: relative;
    bottom: 89%;
}

.Relogio h3 {
    color: #fff126;
    margin-top: -18px;
    text-align: center;
    margin-bottom: -5px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 10px;
    padding: 2%;
}

.time-box {
    background: #fff126;
    box-shadow: 3px 10px rgb(56, 56, 56);
    padding: 3px;
    border-radius: 5px;
}

.time-box span {
    font-size: 25px;
    display: block;
    text-align: center;
    color: #222020;

}

.label {
    font-size: 10px;
    margin-top: 3px;
    letter-spacing: 3px;
    color: #222020;
}

#message {
    font-size: 24px;
    color: #00ff88;
}

.hidden {
    display: none;
}

/* em breve */
.ring {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 12px;
    color: #fff000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}


span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@media (max-width: 738px) {

    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Tilt Warp", sans-serif;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .Geral {
        background-image: url('BACKGROUND.png');
        /* Substitua pelo caminho da sua imagem */
        background-size: cover;
        /* Faz a imagem cobrir toda a tela */
        background-position: center;
        /* Centraliza a imagem */
        background-repeat: no-repeat;
        /* Evita repetição */
        height: 110vh;
        /* 100% da altura da tela */
        width: 100%;
    }

    /* pagina bem vindo */

    .Bem-vindo {
        background-image: url(background-bemvindo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .pulse-button {
        margin-left: 26%;
        position: fixed;
        top: 77%;
        border: none;
        color: white;
        padding: 5px 12px;
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        animation: pulse 1.5s infinite;
    }

    .pulse-button,
    p {
        text-align: center;
        font-size: 12px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .pulse-button:hover {
        animation: none;
        /* Remove a animação ao passar o mouse */
        transform: scale(1);
        /* Volta ao tamanho normal */
    }

    .pulse-button button {

        color: #02003f;
        background-color: aliceblue;
        border-radius: 15px;
        font-size: 18px;
        font-family: "Tilt Warp", sans-serif;
    }

    .Mensagem {
        margin-left: 18%;
        font-size: 12px;
        color: aliceblue;
        position: fixed;
        top: 90%;
    }

    /* final pagina bem vindo */

    .Savrthedate {
        position: absolute;
        left: 20%;
        top: 30px;
        width: 100px;
        z-index: 1;
    }

    .Savrthedate img {
        max-width: 32vh;
        animation-duration: 3s;
    }

    /* relogio */
    .Relogio {
        position: relative;
        bottom: 92%;
    }

    .countdown-container {
        display: flex;
        justify-content: center;
        position: relative;
        top: -50px;
        gap: 4px;
        padding: 2%;
    }

    .time-box {
        /* background: #fbff0b;
        box-shadow: 3px 10px rgb(56, 56, 56); */
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(px);
        padding: 3px;
        border-radius: 5px;
    }

    .time-box span {
        font-size: 20px;
        display: block;
        text-align: center;
        color: #222020;
    }

    .label {
        font-size: 10px;
        margin-top: 3px;
        letter-spacing: 3px;
        color: #222020;
    }

    #message {
        font-size: 24px;
        color: #00ff88;
    }

    .hidden {
        display: none;
    }

    /* em breve */
    .ring {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        background: transparent;
        border: 3px solid #3c3c3c;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        font-family: "Tilt Warp", sans-serif;
        font-size: 12px;
        color: #fff000;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-shadow: 0 0 10px #fff000;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    }

    .ring:before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-top: 3px solid #fff000;
        border-right: 3px solid #fff000;
        border-radius: 50%;
        animation: animateC 2s linear infinite;
    }

    span:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff000;
        top: -6px;
        right: -8px;
        box-shadow: 0 0 20px #fff000;
    }

    @keyframes animateC {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animate {
        0% {
            transform: rotate(45deg);
        }

        100% {
            transform: rotate(405deg);
        }
    }

    .Pagina-01 img {
        width: 100%;
    }

    .Pagina-02 {
        z-index: 1;
    }

    .Pagina-02 img {
        width: 100%;

    }

    .Icones {
        z-index: 2;
        position: absolute;
        top: 158%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        left: 14%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        animation: pulse 2.0s infinite;
    }

    .Icones p {
        font-size: 14px;
        font-family: "Tilt Warp", sans-serif;
    }

    .Iconepadrao {
        text-align: center;
        align-items: center;
    }

    .Icones img {
        max-width: 50px
    }

    .item-clicavel {
        z-index: 2;
        position: absolute;
        top: 173%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        left: 41%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        animation: pulse 2.0s infinite;
    }

    .item-clicavel img {
        max-width: 80px;

    }

    .Pagina-03 img {
        width: 100%;
    }

    /* pagina presente clique */

    #textoCopiavel {
        padding: 5px;
        color: rgb(0, 0, 0);
        z-index: 1;
        position: fixed;
        top: 74%;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        display: inline-block;
        left: 32%;
        cursor: pointer;
        border-radius: 5px;
    }

    .mensagem-pix {
        margin-top: 10px;
        color: green;
        padding: 5px;
        color: rgb(0, 0, 0);
        z-index: 1;
        position: fixed;
        top: 76%;
        border: 1px solid #ccc;
        background-color: #ffffff;
        display: inline-block;
        left: 26%;
        cursor: pointer;
        border-radius: 5px;
    }

    #mensagem {
        margin-top: 10px;
        color: green;
        padding: 5px;
        color: rgb(0, 0, 0);
        z-index: 1;
        position: fixed;
        top: 88%;
        border: 1px solid #ccc;
        background-color: #1eff00;
        display: inline-block;
        left: 20%;
        cursor: pointer;
        border-radius: 5px;

    }

    #Clique {
        color: #02003f;
        font-size: 12px;
    }

    /* mapa */
    .Mapa {
        position: fixed;
        top: 30%;
        z-index: 1;
        left: 6%;
    }

    .Localizacao-festa {
        font-family: "Tilt Warp", sans-serif;
        position: fixed;
        top: 20%;
        z-index: 1;
        left: 20%;
    }

    /* confirmaçao de presença */
    .btn-whatsapp {
        background-color: #25D366;
        color: white;
        border: none;
        padding: 10px 10px;
        font-size: 12px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .btn-whatsapp:hover {
        background-color: #1ebe5d;
    }



}
